.image {
  width: 380px;
}

.imageSmal {
  display: none;
}


@media (max-width:750px) {
  .image {
    display: none;
  }

  .imageSmal {
    display: block;
  }
}


@media (max-width: 450px) {
  .imageSmal {
    display: none;
  }
}