#root {
  /* основной котнейнер*/
  max-width: 1120px;
  height: 100%;
  margin: 0 auto;
}


:root {
  --primary-color: #1826ea;
  --secondary-color: #f4d745;
  --hover-color: #ff98ea;
  --text-color: #120810;
}